<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2>
 -->
    <div class="footer-col-wrapper">
      <!-- <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.ryan_email }}">{{ site.ryan_email }}</a></li>
          <li><a href="mailto:{{ site.mandy_email }}">{{ site.mandy_email }}</a></li>
        </ul>
      </div> -->


      <div class="footer-channels">
        &copy 2015 Fresh Audio
      </div>

      

          <div class="site-contact">
            <b>Bookings:</b> <a href="mailto:{{ site.mandy_email }}" class="site-contact__link">{{ site.mandy_email }}</a> <a class="site-contact__number" href="tel:+447984189135" class="contact__phone">+44 (0)7984 189 135</a>
          </div> 

<!--
        
      <div class="icons">
        <a class="icon icon-facebook"  href="//www.facebook.com/pages/Fresh-Audio/801657079882492">Facebook</a>
        <a class="icon icon-twitter"   href="//twitter.com/freshaudiotv">Twitter</a>
        <a class="icon icon-instagram" href="//instagram.com/freshaudio.tv">Instagram</a>
      </div>
    
-->    
    </div>

  </div>

</footer>
