/*****NAV***/

*
  box-sizing: border-box

/* Mixins */
@mixin fresh-borders($radius)
  border-top-left-radius: $radius
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius

@mixin fresh-type($size)
  font-family: "Lobster", sans-serif
  font-weight: bold
  font-size: $size
  text-transform: lowercase


/* Extends */

.primary-heading
  font-size: 26px
  line-height: 1
  color: #333
  margin-bottom: 24px

.secondary-heading
  font-size: 20px
  line-height: 1.272
  margin-bottom: 24px


.graceful-hover
  transition: 0.2s linear all

/****GRID***/

.half
  width: 48.8%
  margin-right: 2.4%
  &:nth-child(2n)
    margin-right: 0
  &:nth-child(2n+1)
    clear: left

.third
  width: 31.7%
  margin-right: 2.4%
  &:nth-child(3n)
    margin-right: 0
  &:nth-child(3n+1)
    clear: left



/****/


.post-title
  @extend .primary-heading





.homepage-content
  padding-top: 20px


.north
  background: top no-repeat url('../assets/media-city-dusk-summer.jpg')
  h1
    letter-spacing: -1px
    line-height: 1
    padding: 0 0 240px
    @include media-query($on-palm)
      padding: 0 0 50px
      text-indent: -999px

.about
  background: top no-repeat url('../assets/bg-about.jpg')
  .post-header
    padding: 0 0 290px

.page-wallpaper
  // padding-top: 100px
  // position: relative
  // h1
  //   background: rgba(255,255,255,.9)
  //   display: inline-block
  //   padding: 20px
  //   @include fresh-borders(10px)
  @include media-query($on-palm)
    padding-top: 50px

.page-wallpaper-content
  @include fresh-borders(10px)
  background: #EEE // rgba(255,255,255,.9)
  padding: 20px
  // position: relative
  // bottom: 100px


.site-nav
  z-index: 1000


.bx-wrapper
  img
    width: 100% // for big screens
  @media only screen and (max-width : 640px)
    background-image: url('../assets/carousel/13-400.jpg')
    background-position: top center
    background-size: cover
    height: 200px
    .bx-viewport
      display: none


@media only screen and (max-width : 875px)
  .site-nav
    text-align: right
    float: none
    margin: 20px 0

@media only screen and (min-width : 876px)
  .site-nav
    clear: right
    float: right
    text-align: right
    margin: 70px 0 10px 10px






.site-logo
  border: solid 1px rgba(255,255,255,.2)
  @include fresh-borders(10px)
  float: left
  margin: 10px 10px 10px 0
  img
    border: none



.site-branding
  color: #333

@media only screen and (max-width : 840px)
  .site-branding
    float: none
    padding-top: 10px
    padding-bottom: 10px

@media only screen and (min-width : 840px)
  .site-branding
    float: left
    margin-top: 10px
    margin-bottom: 10px



.site-branding__text
  margin-left: auto
  margin-right: auto

  display: block
  width: 92px
  height: 92px
  background-color: $fresh-blue
  @include fresh-borders(10px)
  box-shadow: 1px 1px 4px #CCC






.site-contact
  color: white
  a
    color: white

@media only screen and (min-width : $on-palm)
  .site-contact
    float: right
    b
      text-transform: uppercase
      margin-right: 10px

@media only screen and (max-width : $on-palm)
  .site-contact
    clear: left
    text-align: center
    padding-top: 5px

  .footer-channels
    text-align: center


.site-contact__number
  margin-left: 10px

.page-link
  font-family: 'Open Sans', sans-serif
  color: #333
  text-transform: uppercase
  font-weight: bold
  padding: 6px

@media only screen and (min-width : $break-medium)
  .page-link
    @include fresh-borders(8px)
    transition: 0.2s linear all
    &:hover
      background-color: #EEE
  


.site-header
  background-color: #FFF  // $fresh-blue

  // border-bottom: dashed 1px #DDD
  position: relative

.site-footer
  background-color: $fresh-blue
  // border-top: solid 1px #333

.page-content
  background-color: #EEE

  // background-color: rgb(200,200,200) /* Old browsers */
  // /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  // background-color: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
  // background-color: -moz-linear-gradient(top,  rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%) /* FF3.6+ */
  // background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(255,255,255,1))) /* Chrome,Safari4+ */
  // background-color: -webkit-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,1) 100%) /* Chrome10+,Safari5.1+ */
  // background-color: -o-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,1) 100%) /* Opera 11.10+ */
  // background-color: -ms-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,1) 100%) /* IE10+ */
  // background-color: linear-gradient(to bottom,  rgba(200,200,200,1) 0%,rgba(255,255,255,1) 100%) /* W3C */




.logo--temp
  background-color: $fresh-blue
  display: block
  height: 80px
  width: 80px
  border-radius: 10px
  margin: 10px 20px 10px 0
  color: white
  padding: 10px
  float: left

.contact--temp
  background: rgba(255,255,255,.1)
  float: right
  text-align: right
  margin: 10px 0
  @include media-query($on-palm)
    float: none
    position: absolute
    bottom: 0
    right: 30px



.homepage
  .post-header
    padding: 140px 0
    margin-bottom: 0
    height: 350px






.homepage-title
  color: white
  text-shadow: 2px 2px 12px #000
  text-align: center
  font-family: sans-serif
  font-weight: 300
  font-size: 42px
  max-width: 800px
  margin: 0 auto
  // text-transform: lowercase


@media only screen and (max-width : $on-palm)
  .homepage-title
    font-size: 32px



.homepage-cols
  @extend %clearfix

@media only screen and (min-width : $on-palm)
  .homepage-col
    float: left

    width: 31.7%
    margin-right: 2.4%
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(3n+1)
      clear: left






.triangle-right
  position: relative
  &:after
    content: ""
    position: absolute
    bottom: -20px
    right: 30px
    border-width: 20px 0 0 20px
    border-style: solid
    border-color: white transparent
    display: block
    width: 0


.homepage-cols__title
  @media only screen and (max-width : 400px)
    display: none
  background-color: $fresh-blue
  color: white
  padding: 4px 10px
  @include fresh-borders(5px)

.homepage-cols__title-twitter
  float: right
  color: rgba(255,255,255,.4)

.homepage-content__strapline
  @media only screen and (max-width : 400px)
    display: none
  @include fresh-borders(10px)
  padding: 10px 10%
  color: $fresh-blue
  font-family: "Lobster", sans-serif
  text-align: center
  margin-bottom: -30px
  h1
    font-size: 20px  
    position: relative
    margin-bottom: 10px
    @media only screen and (min-width : 540px)
      margin-bottom: 0
      font-size: 28px
      background-color: white
      bottom: 30px
      @include fresh-borders(15px)
      padding: 10px
  b
    font-size: 32px
    @media only screen and (min-width : 680px)
      font-size: 40px

.homepage-cols__tweets
  word-wrap: break-word
  ul
    list-style-type: none
    li
      background-color: white
      padding: 10px
      @include fresh-borders(10px)
      margin-bottom: 40px
      position: relative
      @extend .triangle-right

  .tweet
    margin-bottom: 20px

  .timePosted
    margin-bottom: 0
    position: absolute
    right: 8px
    bottom: 8px
    color: #CCC
    font-size: 12px

  .interact
    display: none


.carousel
  height: 300px 


.slick-slide img
  position: relative
  &:after
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(255,0,0,0.5)

/*****GALLERY***/

.polaroid
  background: white
  box-shadow: 3px 3px 7px #CCC
  margin-bottom: 20px
  padding: 10px 10px 30px
  float: left
  transition: 0.2s linear all
  img
    margin-bottom: 10px
  p
    font-size: 14px
  &:hover
    color: #000
    text-decoration: none
    p
      color: black
  @media only screen and (min-width : $on-palm)
    width: 31.7%
    margin-right: 2.4%
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(3n+1)
      clear: left
  @media only screen and (max-width : $on-palm)
    width: 80%
    margin-left: 10%
    img
      width: 100%

.polaroid
  transition: transform .15s linear
.polaroid:nth-child(odd)
  transform: rotate(-2deg)
.polaroid:nth-child(even)
  transform: rotate(2deg)
.polaroid:nth-child(5n)
  transform: rotate(5deg)
  position: relative
  right: 5px
.polaroid:hover
  transform: scale(1.1)
  position: relative
  z-index: 5

/*****SHOWS***/

.shows, .members, #instafeed
  @extend %clearfix


.js-instafeed
  padding: 20px 0

.show, .member
  float: left
  list-style-type: none
  margin-bottom: 30px
  // text-align: center
  width: 100% // 320

  @media only screen and (min-width: 480px) and (max-width : 680px)
    width: 48.8%
    margin-right: 2.4%
    &:nth-child(2n)
      margin-right: 0
    &:nth-child(2n+1)
      clear: left

  @media only screen and (min-width : 680px)
    width: 31.7%
    margin-right: 2.4%
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(3n+1)
      clear: left

.member-link
  display: block
  position: relative
  &:hover
    .member__name
      // background-color: $fresh-blue
      color: $fresh-blue
    .member__image
      border: solid 3px $fresh-blue

.show__image, .member__image
  @include fresh-borders(10px)
  margin-bottom: 10px
  border: solid 3px rgba(0,0,0,.1)
  transition: 0.2s linear all
  @media only screen and (max-width : 480px)
    width: 100%


.show__title
  @extend .secondary-heading
  margin-bottom: 0
  @media only screen and (min-width: 680px) 
    display: inline-block

.member__name
  color: #333
  // position: absolute
  // bottom: 0
  // left: 10px
  // padding: 10px
  // background-color: rgba(0,0,0,0.5)
  // @include fresh-borders(10px)

.member__job
  font-size: 12px
  display: block

.show__channel
  font-style: italic
  font-size: 12px
  color: #999

/****/

.member-info
  @extend %clearfix
  padding: 30px 0

.member-info__image
  display: block
  float: left
  img
    @include fresh-borders(10px)
    margin-bottom: 10px
    border: solid 10px rgba(0,0,0,.1)

.member-info__back
  display: block
  margin: 10px 0

.member-info__content__container
  h1
    @extend .primary-heading
    margin-bottom: 4px

  h1 + p + p
    background-color: rgba(0,0,0,.1)
    @include fresh-borders(8px)
    font-weight: bold
    padding: 8px

  h2
    @extend .secondary-heading
    margin: 20px 0 4px

  h2 + ul
    margin-left: 20px

  ul + p
    background-color: white
    padding: 8px
    @include fresh-borders(8px)

.member-info__content
  float: left
  

/*****NORTH***/

.shows-we-do-up-there
  // padding-top: 20px
  margin: 0 0 20px 0
  overflow: hidden
  img
    display: block
    float: left

/*****CREW***/

.crew__member
  float: left
  padding: 10px 0 10px 10px
  list-style-type: none




/********/



.map
  background: no-repeat url('../assets/uk-ccc.png') 0 0
  width: 250px
  height: 389px
  position: relative
  float: right
  bottom: 60px

.map-marker
  position: absolute
  background-color: $fresh-blue
  // background: rgba(0,0,0,.9)
  color: white
  display: inline-block
  // padding: 3px
  text-indent: -9999px
  width: 25px
  height: 25px
  @include fresh-borders(5px)


.map__london
  bottom: 40px
  right: 50px

.map__manchester
  top: 235px
  left: 140px






.contact__email, .contact__phone
  background-color: white
  display: block
  padding: 10px
  @include fresh-borders(10px)
  margin-bottom: 10px
  width: 300px
  font-size: 24px



.icons
  float: right

.icon
  text-indent: -9999px
  display: inline-block
  height: 60px
  width: 60px

.icon-facebook
  background-image: url('../assets/icons/facebook.png')
.icon-twitter
  background-image: url('../assets/icons/twitter.png')
.icon-instagram
  background-image: url('../assets/icons/instagram.png')



@media only screen and (min-width : $on-palm)
  .footer-channels
    float: left

/***TEMP *///

.footer-col-3
  text-align: right


// header
//   background-color: #FFF
//   color: #005596
//   h1
//     color: black
//   a
//     color: white



.contact
  @extend %clearfix


.homepage-cols__social__links
  list-style-type: none
  overflow: hidden

.homepage-cols__social__link
  @include fresh-borders(10px)
  background-color: white
  display: block
  margin-bottom: 20px
  padding: 10px 10px 10px 70px
  background-repeat: no-repeat 
  min-height: 68px

@media only screen and (max-width : $on-palm)
  .homepage-cols__social__link
    text-indent: -9999px
    background-position: center
    float: left
    width: 31.7%
    margin-right: 2.4%
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(3n+1)
      clear: left

.contact__map
  @extend .third
  margin-bottom: 20px
  float: left
  @include media-query($on-palm)
    float: none
    width: 100%

.contact__map__image
  @include fresh-borders(10px)
  border: solid 3px rgba(0,0,0,.1)

.contact__content
  float: left
  width: 65.9%
  @include media-query($on-palm)
    width: 100%
    float: none

.contact__content__title
  // font-size: 16px

.contact__content__option
  @include fresh-borders(10px)
  background-color: white
  display: block
  padding: 15px
  font-size: 20px
  margin-bottom: 20px

.contact__content__option__prefix
  margin-right: 10px


.contact__content__social
  @extend %clearfix

.contact__content__option--social
  @extend .third
  float: left

@include media-query(880px)
  .contact__content__option--social__text
    display: none