<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
     
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
         

        <ul class="members">
          {% for member in site.data.crew %}

          <li class="member third">
            <a href="{{ page.url}}/crew/{{member.id}}" class="member-link">
              <img class="member__image" src="{{ page.url}}/assets/crew/crew-{{member.id}}.jpg" />
              <h2 class="member__name">{{ member.first_name }}</h2>
            </a>
          </li>

          {% endfor %}
        </ul>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>


