<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper member-info">

        <div class="member-info__image">
          <img class="" src="{{ site.url }}/assets/crew/crew-{{ page.title | downcase }}.jpg" />
        </div>
        <div class="member-info__content">
          <div class="member-info__content__container">
            {{ content }}
          </div>
          <a class="member-info__back" href="{{ site.url }}/crew">< Back to the rest of the crew</a>
        </div>
        
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
