<!DOCTYPE html>

<html class="no-js">
  {% include head.html %}
  
  <body>
    {% include header.html %}

    <div class="page-content homepage">

      <!-- 1, 2, 13, 3, 4, 7, 8, 9, 10, 11 -->

      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->

              {% for slider in site.data.slider %}
                <div class="swiper-slide">
                  <img data-src="{{ site.url }}/assets/carousel/{{slider.image_file_name}}.jpg" class="swiper-lazy">
                  <div class="swiper-slide__content">
                    <p class="swiper-slide__content__title">{{slider.title}}</p>
                    <p class="swiper-slide__content__broadcaster">{{slider.broadcaster}}</p>
                  </div>
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
              {% endfor %}

          </div>
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination"></div> -->
          
          <!-- If we need navigation buttons -->
<!--           <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
          
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
      </div>



      <div class="homepage-content__strapline">
        <h1>Providing <b>Location Sound Recordists</b> to the <b>TV</b> and <b>digital industries</b></h1>
      </div>

      <div class="wrapper">
        <div class="homepage-content">

          <div class="homepage-cols">

            <div class="homepage-col homepage-cols__content">
              <h2 class="homepage-cols__title">Fresh Story</h2>
              {{ content }}
            </div>

            <div class="homepage-col homepage-cols__tweets">
              <h2 class="homepage-cols__title">Fresh Tweets</h2>
              <div id="js-homepage-cols__tweets"></div>
            </div>

            <div class="homepage-col homepage-cols__social">
              <h2 class="homepage-cols__title">Fresh Social</h2>
              <div class="homepage-cols__social__links">
                <a target="_blank" href="//www.facebook.com/pages/Fresh-Audio/801657079882492" class="homepage-cols__social__link homepage-cols__social__link--f icon-facebook"><h3>Facebook</h3></a>
                <a target="_blank" href="//twitter.com/freshaudiotv" class="homepage-cols__social__link homepage-cols__social__link--t icon-twitter"><h3>Twitter</h3></a>
                <a target="_blank" href="//instagram.com/freshaudio.tv" class="homepage-cols__social__link homepage-cols__social__link--i icon-instagram"><h3>Instagram</h3></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
    .swiper-container {
        width: 100%;
        height: auto;
    }
    </style>

    {% include footer.html %}
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->


    <script src="{{ site.url }}/assets/twitter-post-fetcher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        // nextButton: '.swiper-button-next',
        // prevButton: '.swiper-button-prev',
        // pagination: '.swiper-pagination',
        // paginationClickable: true,
        centeredSlides: true,
        autoplay: 2500,
        speed: 700,
        effect: 'slide', // slide , fade
        autoplayDisableOnInteraction: false,
        // Disable preloading of all images
        preloadImages: false,
        // Enable lazy loading
        lazyLoading: true,
        lazyLoadingOnTransitionStart: true
    });
    </script>

  </body>
</html>
