<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content homepage">
        
      <div class="wrapper">

        <!-- 

        <header class="post-header">
          <h1 class="post-title homepage-title">Providing <b>Location Sound Recordists</b> to the <b>TV</b> and <b>digital industries</b></h1>
        </header>

         -->

      </div>

      <ul class="bxslider">
        <li><img src="{{site.url}}/assets/carousel/1-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/2-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/13-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/3-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/4-400.jpg" /></li>
        <!-- <li><img src="{{site.url}}/assets/carousel/5-400.jpg" /></li> -->
        <!-- <li><img src="{{site.url}}/assets/carousel/6-400.jpg" /></li> -->
        <li><img src="{{site.url}}/assets/carousel/7-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/8-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/9-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/10-400.jpg" /></li>
        <li><img src="{{site.url}}/assets/carousel/11-400.jpg" /></li>
        <!-- <li><img src="{{site.url}}/assets/carousel/12-400.jpg" /></li> -->
      </ul>

          <div class="homepage-content__strapline">
            <h1>Providing <b>Location Sound Recordists</b> to the <b>TV</b> and <b>digital industries</b>
          </div>

      <div class="wrapper">
        <div class="homepage-content">

          <div class="homepage-cols">
            <aside class="homepage-col homepage-cols__content">
              <h2 class="homepage-cols__title">Fresh Story</h2>
              {{ content }}
            </aside>

            <aside class="homepage-col homepage-cols__tweets">
              <h2 class="homepage-cols__title">Fresh Tweets</h2>
              <div id="js-homepage-cols__tweets"></div>
            </aside>

            <aside class="homepage-col homepage-cols__social">
              <h2 class="homepage-cols__title">Fresh Social</h2>
              <ul class="homepage-cols__social__links">
                <li><a target="_blank" href="//www.facebook.com/pages/Fresh-Audio/801657079882492" class="homepage-cols__social__link homepage-cols__social__link--f icon-facebook"><h3>Facebook</h3></a></li>
                <li><a target="_blank" href="//twitter.com/freshaudiotv" class="homepage-cols__social__link homepage-cols__social__link--t icon-twitter"><h3>Twitter</h3></a></li>
                <li><a target="_blank" href="//instagram.com/freshaudio.tv" class="homepage-cols__social__link homepage-cols__social__link--i icon-instagram"><h3>Instagram</h3></a></li>
              </ul>
            </aside>
          </div>

        </div>

      </div>
        


    </div>

    {% include footer.html %}
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/twitter-post-fetcher.js"></script>

    <script>

      $(function(){

         $('.bxslider').bxSlider({
          auto: true,
          contols: false,
          pager: false
         });

      });

    </script>

  </body>

</html>
