<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content north page-wallpaper">
      <div class="wrapper">
     
        <h1 class="post-title">Manchester</h1>
        
        <div class="page-wallpaper-content">
          {{ content }}
        </div>

        <div class="shows-we-do-up-there">
          <img class="show__image third" src="{{ site.url }}/assets/north-bloom-320.jpg" />
          <img class="show__image third" src="{{ site.url }}/assets/north-bluepeter-320.jpg" />
          <img class="show__image third" src="{{ site.url }}/assets/north-sport-320.jpg" />
        </div>


      </div>
    </div>

    {% include footer.html %}

  </body>

</html>